In [1]:
# Importing Dependencies
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_Super_Bowl_starting_quarterbacks"

In [3]:
table = pd.read_html(url)
table

[                 0                                            1  \
 0  Hall of Famers*  Player is not yet eligiblefor Hall of Fame‡
 1    Active player  Player is not yet eligiblefor Hall of Fame‡

                 2
 0  NFLn/NFCN team
 1  AFLa/AFCA team  ,
           Season  Super Bowl          Winning QB                   Team  \
 0   1966 AFL/NFL           I      Bart Starr*MVP     Green Bay Packersn
 1   1967 AFL/NFL          II      Bart Starr*MVP     Green Bay Packersn
 2   1968 AFL/NFL         III      Joe Namath*MVP         New York Jetsa
 3   1969 AFL/NFL          IV      Len Dawson*MVP    Kansas City Chiefsa
 4           1970           V      Johnny Unitas*       Baltimore ColtsA
 5           1971          VI  Roger Staubach*MVP        Dallas CowboysN
 6           1972         VII         Bob Griese*        Miami DolphinsA
 7           1973        VIII         Bob Griese*        Miami DolphinsA
 8           1974          IX     Terry Bradshaw*   Pittsburgh SteelersA
 9           1975           X     Terry Bradshaw*   Pittsburgh SteelersA
 10          1976          XI        Ken Stabler*       Oakland RaidersA
 11          1977         XII     Roger Staubach*        Dallas CowboysN
 12          1978        XIII  Terry Bradshaw*MVP   Pittsburgh SteelersA
 13          1979         XIV  Terry Bradshaw*MVP   Pittsburgh SteelersA
 14          1980          XV     Jim PlunkettMVP       Oakland RaidersA
 15          1981         XVI     Joe Montana*MVP   San Francisco 49ersN
 16          1982        XVII       Joe Theismann   Washington RedskinsN
 17          1983       XVIII        Jim Plunkett   Los Angeles RaidersA
 18          1984         XIX     Joe Montana*MVP   San Francisco 49ersN
 19          1985          XX         Jim McMahon         Chicago BearsN
 20          1986         XXI       Phil SimmsMVP       New York GiantsN
 21          1987        XXII    Doug WilliamsMVP   Washington RedskinsN
 22          1988       XXIII        Joe Montana*   San Francisco 49ersN
 23          1989        XXIV     Joe Montana*MVP   San Francisco 49ersN
 24          1990         XXV      Jeff Hostetler       New York GiantsN
 25          1991        XXVI      Mark RypienMVP   Washington RedskinsN
 26          1992       XXVII     Troy Aikman*MVP        Dallas CowboysN
 27          1993      XXVIII        Troy Aikman*        Dallas CowboysN
 28          1994        XXIX     Steve Young*MVP   San Francisco 49ersN
 29          1995         XXX        Troy Aikman*        Dallas CowboysN
 30          1996        XXXI        Brett Favre*     Green Bay PackersN
 31          1997       XXXII         John Elway*        Denver BroncosA
 32          1998      XXXIII      John Elway*MVP        Denver BroncosA
 33          1999       XXXIV     Kurt Warner*MVP        St. Louis RamsN
 34          2000        XXXV        Trent Dilfer      Baltimore RavensA
 35          2001       XXXVI        Tom BradyMVP  New England PatriotsA
 36          2002      XXXVII        Brad Johnson  Tampa Bay BuccaneersN
 37          2003     XXXVIII        Tom BradyMVP  New England PatriotsA
 38          2004       XXXIX           Tom Brady  New England PatriotsA
 39          2005          XL  Ben Roethlisberger   Pittsburgh SteelersA
 40          2006         XLI  Peyton Manning‡MVP    Indianapolis ColtsA
 41          2007        XLII     Eli Manning‡MVP       New York GiantsN
 42          2008       XLIII  Ben Roethlisberger   Pittsburgh SteelersA
 43          2009        XLIV       Drew BreesMVP    New Orleans SaintsN
 44          2010         XLV    Aaron RodgersMVP     Green Bay PackersN
 45          2011        XLVI     Eli Manning‡MVP       New York GiantsN
 46          2012       XLVII       Joe FlaccoMVP      Baltimore RavensA
 47          2013      XLVIII      Russell Wilson      Seattle SeahawksN
 48          2014        XLIX        Tom BradyMVP  New England PatriotsA
 49          2015          50     Peyton Manning‡        Denver BroncosA
 50          2016          LI        Tom BradyMVP  New England PatriotsA
 51          2017         LII       Nick FolesMVP   Philadelphia EaglesN
 52          2018        LIII           Tom Brady  New England PatriotsA
 53          2019         LIV  Patrick MahomesMVP    Kansas City ChiefsA
 54        Season  Super Bowl          Winning QB                   Team

              Losing QB                 Team.1
 0          Len Dawson*    Kansas City Chiefsa
 1      Daryle Lamonica       Oakland Raidersa
 2         Earl Morrall       Baltimore Coltsn
 3             Joe Kapp     Minnesota Vikingsn
 4         Craig Morton        Dallas CowboysN
 5          Bob Griese*        Miami DolphinsA
 6         Billy Kilmer   Washington RedskinsN
 7      Fran Tarkenton*     Minnesota VikingsN
 8      Fran Tarkenton*     Minnesota VikingsN
 9      Roger Staubach*        Dallas CowboysN
 10     Fran Tarkenton*     Minnesota VikingsN
 11        Craig Morton        Denver BroncosA
 12     Roger Staubach*        Dallas CowboysN
 13     Vince Ferragamo      Los Angeles RamsN
 14        Ron Jaworski   Philadelphia EaglesN
 15        Ken Anderson    Cincinnati BengalsA
 16       David Woodley        Miami DolphinsA
 17       Joe Theismann   Washington RedskinsN
 18         Dan Marino*        Miami DolphinsA
 19          Tony Eason  New England PatriotsA
 20         John Elway*        Denver BroncosA
 21         John Elway*        Denver BroncosA
 22      Boomer Esiason    Cincinnati BengalsA
 23         John Elway*        Denver BroncosA
 24          Jim Kelly*         Buffalo BillsA
 25          Jim Kelly*         Buffalo BillsA
 26          Jim Kelly*         Buffalo BillsA
 27          Jim Kelly*         Buffalo BillsA
 28      Stan Humphries    San Diego ChargersA
 29      Neil O'Donnell   Pittsburgh SteelersA
 30        Drew Bledsoe  New England PatriotsA
 31        Brett Favre*     Green Bay PackersN
 32      Chris Chandler       Atlanta FalconsN
 33        Steve McNair      Tennessee TitansA
 34       Kerry Collins       New York GiantsN
 35        Kurt Warner*        St. Louis RamsN
 36         Rich Gannon       Oakland RaidersA
 37       Jake Delhomme     Carolina PanthersN
 38      Donovan McNabb   Philadelphia EaglesN
 39    Matt Hasselbeck‡      Seattle SeahawksN
 40        Rex Grossman         Chicago BearsN
 41           Tom Brady  New England PatriotsA
 42        Kurt Warner*     Arizona CardinalsN
 43     Peyton Manning‡    Indianapolis ColtsA
 44  Ben Roethlisberger   Pittsburgh SteelersA
 45           Tom Brady  New England PatriotsA
 46   Colin Kaepernick‡   San Francisco 49ersN
 47     Peyton Manning‡        Denver BroncosA
 48      Russell Wilson      Seattle SeahawksN
 49          Cam Newton     Carolina PanthersN
 50           Matt Ryan       Atlanta FalconsN
 51           Tom Brady  New England PatriotsA
 52          Jared Goff      Los Angeles RamsN
 53     Jimmy Garoppolo   San Francisco 49ersN
 54           Losing QB                   Team  ,
     Starts  Win(s) Win(s).1              Player  Record Record.1  \
 0       10       6        6          Tom Brady‡     6-3      6-3
 1       10       6        0          Tom Brady‡     6-3      0-0
 2        5       2        2         John Elway*     2–3      2–3
 3        4       4        4     Terry Bradshaw*     4–0      4–0
 4        4       4        4        Joe Montana*     4–0      4–0
 5        4       2        2     Roger Staubach*     2–2      2–2
 6        4       2        1     Peyton Manning‡     2–2      1–1
 7        4       2        1     Peyton Manning‡     2–2      1–1
 8        4       0        0          Jim Kelly*     0–4      0–4
 9        3       3        3        Troy Aikman*     3–0      3–0
 10       3       2        2         Bob Griese*     2–1      2–1
 11       3       2        2  Ben Roethlisberger     2–1      2–1
 12       3       1        1        Kurt Warner*     1–2      1–1
 13       3       1        0        Kurt Warner*     1–2      0–1
 14       3       0        0     Fran Tarkenton*     0–3      0–3
 15       2       2        2         Bart Starr*     2–0      2–0
 16       2       2        2        Jim Plunkett     2–0      2–0
 17       2       2        2        Eli Manning‡     2–0      2–0
 18       2       1        1         Len Dawson*     1–1      1–1
 19       2       1        1       Joe Theismann     1–1      1–1
 20       2       1        1        Brett Favre*     1–1      1–1
 21       2       1        1      Russell Wilson     1–1      1–1
 22       2       1        1     Patrick Mahomes     1–0      1–0
 23       2       0        0        Craig Morton     0–2      0–1
 24       2       0        0        Craig Morton     0–2      0–1
 25  Starts  Win(s)   Win(s)              Player  Record   Record

                          Team(s)  \
 0          New England PatriotsA
 1          Tampa Bay BuccaneersN
 2                Denver BroncosA
 3           Pittsburgh SteelersA
 4           San Francisco 49ersN
 5                Dallas CowboysN
 6            Indianapolis ColtsA
 7                Denver BroncosA
 8                 Buffalo BillsA
 9                Dallas CowboysN
 10               Miami DolphinsA
 11          Pittsburgh SteelersA
 12               St. Louis RamsN
 13            Arizona CardinalsN
 14            Minnesota VikingsN
 15            Green Bay Packersn
 16  Oakland/Los Angeles RaidersA
 17              New York GiantsN
 18           Kansas City Chiefsa
 19          Washington RedskinsN
 20            Green Bay PackersN
 21             Seattle SeahawksN
 22           Kansas City ChiefsA
 23               Dallas CowboysN
 24               Denver BroncosA
 25                       Team(s)

                                         Super Bowl(s)  Win % Win %.1   Ref
 0   XXXVI, XXXVIII, XXXIX, XLII,XLVI, XLIX, LI, LI...   .667    .667   [2]
 1                                                  LV   .667    .000   [2]
 2                      XXI, XXII, XXIV, XXXII, XXXIII   .400    .400   [3]
 3                                    IX, X, XIII, XIV  1.000   1.000   [4]
 4                               XVI, XIX, XXIII, XXIV  1.000   1.000   [5]
 5                                    VI, X, XII, XIII   .500    .500   [6]
 6                                           XLI, XLIV   .500    .500   [7]
 7                                          XLVIII, 50   .500    .500   [7]
 8                            XXV, XXVI, XXVII, XXVIII   .000    .000   [8]
 9                                  XXVII, XXVIII, XXX  1.000   1.000   [9]
 10                                      VI, VII, VIII   .667    .667  [10]
 11                                     XL, XLIII, XLV   .667    .667  [11]
 12                                       XXXIV, XXXVI   .333    .500  [12]
 13                                              XLIII   .333    .000  [12]
 14                                       VIII, IX, XI   .000    .000  [13]
 15                                              I, II  1.000   1.000  [14]
 16                                          XV, XVIII  1.000   1.000  [15]
 17                                         XLII, XLVI  1.000   1.000  [16]
 18                                              I, IV   .500    .500  [17]
 19                                        XVII, XVIII   .500    .500  [18]
 20                                        XXXI, XXXII   .500    .500  [19]
 21                                       XLVIII, XLIX   .500    .500  [20]
 22                                            LIV, LV  1.000   1.000  [21]
 23                                                  V   .000    .000  [22]
 24                                                XII   .000    .000  [22]
 25                                      Super Bowl(s)  Win %   Win %   Ref  ,
    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteSuper Bowl  \
 0      NFL NFC Championship AFC Championship Football
 1                                               Games
 2                                               1960s
 3                                               1970s
 4                                               1980s
 5                                               1990s
 6                                               2000s
 7                                               2010s
 8                                               2020s
 9                                             Related
 10                                             People
 11                          Awards, trophies, records
 12                          Broadcast and​ production
 13                            Super Bowl Sunday Curse

    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteSuper Bowl.1
 0      NFL NFC Championship AFC Championship Football
 1   1960s I (1967) II (1968) III (1969) 1970s IV (...
 2                       I (1967) II (1968) III (1969)
 3   IV (1970) V (1971) VI (1972) VII (1973) VIII (...
 4   XIV (1980) XV (1981) XVI (1982) XVII (1983) XV...
 5   XXIV (1990) XXV (1991) XXVI (1992) XXVII (1993...
 6   XXXIV (2000) XXXV (2001) XXXVI (2002) XXXVII (...
 7   XLIV (2010) XLV (2011) XLVI (2012) XLVII (2013...
 8   LIV (2020) LV (2021) LVI (2022) LVII (2023) LV...
 9   People Champions Pre-Super Bowl NFL champions ...
 10  Champions Pre-Super Bowl NFL champions Head co...
 11  Super Bowl ring Vince Lombardi Trophy Most Val...
 12  National anthem Halftime Commercials USA Today...
 13                            Super Bowl Sunday Curse                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ,
        0                                                  1
 0  1960s                      I (1967) II (1968) III (1969)
 1  1970s  IV (1970) V (1971) VI (1972) VII (1973) VIII (...
 2  1980s  XIV (1980) XV (1981) XVI (1982) XVII (1983) XV...
 3  1990s  XXIV (1990) XXV (1991) XXVI (1992) XXVII (1993...
 4  2000s  XXXIV (2000) XXXV (2001) XXXVI (2002) XXXVII (...
 5  2010s  XLIV (2010) XLV (2011) XLVI (2012) XLVII (2013...
 6  2020s  LIV (2020) LV (2021) LVI (2022) LVII (2023) LV...,
                            0  \
 0                     People
 1  Awards, trophies, records
 2  Broadcast and​ production

                                                    1
 0  Champions Pre-Super Bowl NFL champions Head co...
 1  Super Bowl ring Vince Lombardi Trophy Most Val...
 2  National anthem Halftime Commercials USA Today...  ,
         vteSuper Bowl champion starting quarterbacks  \
 0  I: Starr II: Starr III: Namath IV: Dawson V: U...

       vteSuper Bowl champion starting quarterbacks.1
 0  I: Starr II: Starr III: Namath IV: Dawson V: U...  ]

In [4]:
sb_df = table[1]
sb_df.head(5)

,Season,Super Bowl,Winning QB,Team,Losing QB,Team.1
0,1966 AFL/NFL,I,Bart Starr*MVP,Green Bay Packersn,Len Dawson*,Kansas City Chiefsa
1,1967 AFL/NFL,II,Bart Starr*MVP,Green Bay Packersn,Daryle Lamonica,Oakland Raidersa
2,1968 AFL/NFL,III,Joe Namath*MVP,New York Jetsa,Earl Morrall,Baltimore Coltsn
3,1969 AFL/NFL,IV,Len Dawson*MVP,Kansas City Chiefsa,Joe Kapp,Minnesota Vikingsn
4,1970,V,Johnny Unitas*,Baltimore ColtsA,Craig Morton,Dallas CowboysN

In [5]:
# Renaming 'Team' Columns
sb_df = sb_df.rename(columns={"Team":"Winning Team", "Team.1":"Losing Team"})
sb_df.head(5)

,Season,Super Bowl,Winning QB,Winning Team,Losing QB,Losing Team
0,1966 AFL/NFL,I,Bart Starr*MVP,Green Bay Packersn,Len Dawson*,Kansas City Chiefsa
1,1967 AFL/NFL,II,Bart Starr*MVP,Green Bay Packersn,Daryle Lamonica,Oakland Raidersa
2,1968 AFL/NFL,III,Joe Namath*MVP,New York Jetsa,Earl Morrall,Baltimore Coltsn
3,1969 AFL/NFL,IV,Len Dawson*MVP,Kansas City Chiefsa,Joe Kapp,Minnesota Vikingsn
4,1970,V,Johnny Unitas*,Baltimore ColtsA,Craig Morton,Dallas CowboysN

In [6]:
sb_df.to_csv("Resources/sb_df.csv", index=False)

In [7]:
# Reading back in the cleaned csv
file = "Resources/sb_df_cleaned.csv"

sb_df_cleaned = pd.read_csv(file)  
sb_df_cleaned.head(5)

         Season Super Bowl      Winning QB         Winning Team Win vs Loss
0  1966 AFL/NFL          I  Bart Starr*MVP   Green Bay Packersn         Win
1  1967 AFL/NFL         II  Bart Starr*MVP   Green Bay Packersn         Win
2  1968 AFL/NFL        III  Joe Namath*MVP       New York Jetsa         Win
3  1969 AFL/NFL         IV  Len Dawson*MVP  Kansas City Chiefsa         Win
4          1970          V  Johnny Unitas*     Baltimore ColtsA         Win

In [8]:
sb_df_cleaned = sb_df_cleaned.rename(columns={"Winning QB":"Quarterback", "Winning Team":"Team"})
sb_df_cleaned.head(5)

         Season Super Bowl     Quarterback                 Team Win vs Loss
0  1966 AFL/NFL          I  Bart Starr*MVP   Green Bay Packersn         Win
1  1967 AFL/NFL         II  Bart Starr*MVP   Green Bay Packersn         Win
2  1968 AFL/NFL        III  Joe Namath*MVP       New York Jetsa         Win
3  1969 AFL/NFL         IV  Len Dawson*MVP  Kansas City Chiefsa         Win
4          1970          V  Johnny Unitas*     Baltimore ColtsA         Win

In [9]:
# Fixing 'Season' Column
sb_df_cleaned["Season"] = sb_df_cleaned["Season"].str.replace("1966\u2009AFL/NFL","1966")
sb_df_cleaned["Season"] = sb_df_cleaned["Season"].str.replace("1967\u2009AFL/NFL","1967")
sb_df_cleaned["Season"] = sb_df_cleaned["Season"].str.replace("1968\u2009AFL/NFL","1968")
sb_df_cleaned["Season"] = sb_df_cleaned["Season"].str.replace("1969\u2009AFL/NFL","1969")
sb_df_cleaned.head(5)

  Season Super Bowl     Quarterback                 Team Win vs Loss
0   1966          I  Bart Starr*MVP   Green Bay Packersn         Win
1   1967         II  Bart Starr*MVP   Green Bay Packersn         Win
2   1968        III  Joe Namath*MVP       New York Jetsa         Win
3   1969         IV  Len Dawson*MVP  Kansas City Chiefsa         Win
4   1970          V  Johnny Unitas*     Baltimore ColtsA         Win

In [10]:
# Fixing 'Winning QB' Column
sb_df_cleaned["Quarterback"] = sb_df_cleaned["Quarterback"].str.replace("*","")
sb_df_cleaned["Quarterback"] = sb_df_cleaned["Quarterback"].str.replace("‡","")
sb_df_cleaned["Quarterback"] = sb_df_cleaned["Quarterback"].str.replace("MVP","")
sb_df_cleaned.head(5)

  Season Super Bowl    Quarterback                 Team Win vs Loss
0   1966          I     Bart Starr   Green Bay Packersn         Win
1   1967         II     Bart Starr   Green Bay Packersn         Win
2   1968        III     Joe Namath       New York Jetsa         Win
3   1969         IV     Len Dawson  Kansas City Chiefsa         Win
4   1970          V  Johnny Unitas     Baltimore ColtsA         Win

In [11]:
# Fixing 'Winning Team' & 'Losing Team' Columns
sb_df_cleaned["Team"] = [x[:-1] for x in sb_df_cleaned["Team"]]
sb_df_cleaned.head(5)

  Season Super Bowl    Quarterback                Team Win vs Loss
0   1966          I     Bart Starr   Green Bay Packers         Win
1   1967         II     Bart Starr   Green Bay Packers         Win
2   1968        III     Joe Namath       New York Jets         Win
3   1969         IV     Len Dawson  Kansas City Chiefs         Win
4   1970          V  Johnny Unitas     Baltimore Colts         Win

In [12]:
# Dropping last row as it looks to be a repeat header row
sb_df_cleaned = sb_df_cleaned.drop([108])
sb_df_cleaned = sb_df_cleaned.sort_values(["Season"])
sb_df_cleaned = sb_df_cleaned.set_index(["Season"])
sb_df_cleaned

       Super Bowl      Quarterback                  Team Win vs Loss
Season
1966            I       Bart Starr     Green Bay Packers         Win
1966            I       Len Dawson    Kansas City Chiefs        Loss
1967           II       Bart Starr     Green Bay Packers         Win
1967           II  Daryle Lamonica       Oakland Raiders        Loss
1968          III       Joe Namath         New York Jets         Win
...           ...              ...                   ...         ...
2017          LII       Nick Foles   Philadelphia Eagles         Win
2018         LIII       Jared Goff      Los Angeles Rams        Loss
2018         LIII        Tom Brady  New England Patriots         Win
2019          LIV  Patrick Mahomes    Kansas City Chiefs         Win
2019          LIV  Jimmy Garoppolo   San Francisco 49ers        Loss

[108 rows x 4 columns]

In [13]:
# Reading third table from website - refers to Superbowl starts by QB and win percentages
qb_sb_starts_df = table[2]
qb_sb_starts_df.head(5)

,Starts,Win(s),Win(s).1,Player,Record,Record.1,Team(s),Super Bowl(s),Win %,Win %.1,Ref
0,10,6,6,Tom Brady‡,6-3,6-3,New England PatriotsA,"XXXVI, XXXVIII, XXXIX, XLII,XLVI, XLIX, LI, LI...",.667,.667,[2]
1,10,6,0,Tom Brady‡,6-3,0-0,Tampa Bay BuccaneersN,LV,.667,.000,[2]
2,5,2,2,John Elway*,2–3,2–3,Denver BroncosA,"XXI, XXII, XXIV, XXXII, XXXIII",.400,.400,[3]
3,4,4,4,Terry Bradshaw*,4–0,4–0,Pittsburgh SteelersA,"IX, X, XIII, XIV",1.000,1.000,[4]
4,4,4,4,Joe Montana*,4–0,4–0,San Francisco 49ersN,"XVI, XIX, XXIII, XXIV",1.000,1.000,[5]

In [14]:
# Dropping Superbowl and Reference columns
qb_sb_starts_df = qb_sb_starts_df.drop(columns=["Super Bowl(s)", "Ref"])
qb_sb_starts_df = qb_sb_starts_df.drop([25])
qb_sb_starts_df.head(5)

,Starts,Win(s),Win(s).1,Player,Record,Record.1,Team(s),Win %,Win %.1
0,10,6,6,Tom Brady‡,6-3,6-3,New England PatriotsA,.667,.667
1,10,6,0,Tom Brady‡,6-3,0-0,Tampa Bay BuccaneersN,.667,.000
2,5,2,2,John Elway*,2–3,2–3,Denver BroncosA,.400,.400
3,4,4,4,Terry Bradshaw*,4–0,4–0,Pittsburgh SteelersA,1.000,1.000
4,4,4,4,Joe Montana*,4–0,4–0,San Francisco 49ersN,1.000,1.000

In [15]:
# Saving to CSV to make some quick formatting edits
qb_sb_starts_df.to_csv("Resources/qb_sb_starts_df.csv", index=False)

In [16]:
# Reading back in the cleaned csv
file = "Resources/qb_sb_starts_df_cleaned.csv"

cleaned_df = pd.read_csv(file)  
cleaned_df.head(5)

,Starts,Win(s),Win(s).1,Player,Record,Record.1,Team(s),Win Percentage,Win Percent Drop
0,10,6,6,Tom Brady,3-Jun,44350,New England Patriots,0.667,0.667
1,5,2,2,John Elway,3-Feb,2–3,Denver Broncos,0.400,0.400
2,4,4,4,Terry Bradshaw,Apr-00,4–0,Pittsburgh Steelers,1.000,1.000
3,4,4,4,Joe Montana,Apr-00,4–0,San Francisco 49ers,1.000,1.000
4,4,2,2,Roger Staubach,2-Feb,2–2,Dallas Cowboys,0.500,0.500

In [17]:
cleaned_df = cleaned_df.drop(columns=["Win(s).1", "Record.1", "Win Percent Drop"])
cleaned_df

,Starts,Win(s),Player,Record,Team(s),Win Percentage
0,10,6,Tom Brady,3-Jun,New England Patriots,0.667
1,5,2,John Elway,3-Feb,Denver Broncos,0.400
2,4,4,Terry Bradshaw,Apr-00,Pittsburgh Steelers,1.000
3,4,4,Joe Montana,Apr-00,San Francisco 49ers,1.000
4,4,2,Roger Staubach,2-Feb,Dallas Cowboys,0.500
5,4,2,Peyton Manning,2-Jan,Indianapolis Colts,0.500
6,4,2,Peyton Manning,2-Jan,Denver Broncos,0.500
7,4,0,Jim Kelly,0 - 4,Buffalo Bills,0.000
8,3,3,Troy Aikman,Mar-00,Dallas Cowboys,1.000
9,3,2,Bob Griese,1-Feb,Miami Dolphins,0.667
10,3,2,Ben Roethlisberger,1-Feb,Pittsburgh Steelers,0.667
11,3,1,Kurt Warner,2-Jan,St. Louis Rams,0.500
12,3,1,Kurt Warner,0 - 1,Arizona Cardinals,0.333
13,3,0,Fran Tarkenton,0 - 3,Minnesota Vikings,0.000
14,2,2,Bart Starr,Feb-00,Green Bay Packers,1.000
15,2,2,Jim Plunkett,Feb-00,Oakland/Los Angeles Raiders,1.000
16,2,2,Eli Manning,Feb-00,New York Giants,1.000
17,2,1,Len Dawson,1-Jan,Kansas City Chiefs,0.500
18,2,1,Joe Theismann,1-Jan,Washington Redskins,0.500
19,2,1,Brett Favre,1-Jan,Green Bay Packers,0.500
20,2,1,Russell Wilson,1-Jan,Seattle Seahawks,0.500
21,1,1,Patrick Mahomes,1-Jan,Kansas City Chiefs,1.000
22,2,0,Craig Morton,0 - 1,Dallas Cowboys,0.000
23,2,0,Craig Morton,0 - 1,Denver Broncos,0.000

In [18]:
# cleaned_df = Table of Quarterbacks and their Superbowl wins by Team
# sb_df = Table of superbowls by winning and losing quarterbacks.